* {
    box-sizing: border-box;
}
/*
body {
    background-image: url("../images/bg4.jpg");
}
*/

.container {
    border: solid red 2px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

h1 {
    text-align: center;
    margin-top: 1.5%;
}

.startMe {
    margin-left: 45%;
    margin-top: 3%;
    text-align: center;
    font-size: 20px;
    background: purple;
    color: white;
    width: 10%;
    height: 35px;
    border-radius: 35px;
}

.timer {
    text-align: center;
    font-size: 50px;
}

.ques {
    text-align: center;
}

.swer {
    text-align: center;
}









